#root {
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page-container{
  height: 105vh;
  margin:0px 10px;
  padding: 60px 0px 0px 0px;
  background-color: #1a1a1a;
}

.page-container2
{
  
  min-height: 105vh;
  margin:0px 10px;
  background-color: #1a1a1a;
}
.page-component {
  width: 100%;
  animation: slideDown 1s ease-in-out;
  padding: 20px 0px 0px 0px;
}

@keyframes slideDown {
  0% {
    margin-top: -200px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .page-container{
    padding: 70px 0px 0px 0px ;
  }.page-container2{
    padding: 70px 0px 0px 0px ;
  }
}

@media screen and (min-width: 801px) {
  .page-container{
    padding: 70px 20px 20px 20px ;
    margin: 0px 100px ;
  }
  .page-container2{
    padding: 70px 20px 20px 20px ;
    margin: 0px 100px ;
  }
}
.navbar.dim {
  background-color: #646cffaa;
  pointer-events: none;
}
.page-component.dim {
  opacity: 0.4;
  pointer-events: none;
}
body {
  background-attachment: fixed;
  overscroll-behavior-block: none;
  opacity: 0;
  background-image: none;
  background-size:contain;
  background-image: url("./1000_F_80729070_Fg588yDXhgfzTmMmKACcOCY73Lem29Q7.jpg");
}

body {
  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

#Home
{
  padding-top: 60px;
}